.content
{
  Padding-top: 40px;
Padding-bottom: 40px;
  height: 1600px;
  min-height: 1600px;
  background-image: -webkit-linear-gradient(top, rgb(111, 168, 220) 1%, rgb(194, 123, 160) 99%);
  position: relative;
  z-index: 1;
}